extends ../layouts/common
block content
  h3.mt-4  Book List

  if errors
    each error in errors
      .alert.alert-danger= error

  form(action="books/search" method='GET')
    .form-group.d-flex
      input.form-control(type="text" name="q" value=q)
      button.btn.btn-primary.ml-2 Search

  form(action="/books/create" method="POST")
    .form-group
      label(for="title") Title Book
      input#title.form-control(type="text" name="title" )
      label.mt-3(for="description") Description Book
      input#description.form-control(type="text" name="description")
      button.btn.btn-primary.mt-3 Create
    
  table.table.table-hover
    thead
      tr
        th Title3
        th Description                                                                                                                                                                                                                                                                                                                                  
        th Actions
    tbody
      each book in books
        tr
          td #{book.title}
          td #{book.description}
          td
            a(href='/books/' + book.id + '/update') 
              button.btn.btn-primary Update
            span 
            a(href='/books/' + book.id + '/delete')
              button.btn.btn-danger Delete
