h1 Book list

form(action="books/search" method='GET')
    input(type="text" name="q" value=q)
    button Search

form(action="/books/create" method="POST")
    input(type="text" name="title" placeholder="title book")
    input(type="text" name="description" placeholder="description book")
    button Create
  
table(style="width: 100%; border-collapse: collapse")
  thead
    tr
      th(style="border: 1px solid black;") Title
      th(style="border: 1px solid black;") Actions
  tbody
    each book in books
      tr
        td(style="border: 1px solid black;") #{book.title}
        td(style="border: 1px solid black;display: flex; justify-content: space-evenly;")
          a(href='/books/' + book.id + '/update') Update
          span 
          a(href='/books/' + book.id + '/delete') Delete
