extends ../layouts/common
block content

    h1.mt-3  Update Book

    form(action="/books/"+ book.id +"/update" method="POST")
      .form-group
        label.mt-2(for="title") Title Book
        input#title.form-control(type="text" value=book.title name="title")
        label.mt-2(for="description") Description Book
        input#description.form-control(type="text" value=book.description name="description")
        button.btn.btn-primary.mt-2 Update