extends ./layouts/common
block content
  .d-flex.flex-column.align-items-center
    img(src='https://coders-x.com/images/events/codersx.png' width='300px')
    h1.mt-4.pt-4.text-center Welcome to CodersX's course 2020
  

