extends ./layouts/common
block content
  .d-flex.flex-column.align-items-center
    img(src='https://coders-x.com/images/events/codersx.png' width='300px')
    h1.mt-4.pt-4.text-center Welcome to CodersX's course 2020
    img(width='600px' src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/94889544_3002236993204910_4453186473776119808_n.jpg?_nc_cat=109&_nc_sid=110474&_nc_oc=AQncKl-uUWkK3O1guq09ynXil4JURf0pYgkN5h5rBlBAB9a57oFg5GP7Ngr6CCMCCTc&_nc_ht=scontent.fhan5-1.fna&oh=8fde18412ad0a01c588d1bac42fceeb9&oe=5ED46135", alt="")

