extends ../layouts/common
block content
  h3.mt-4  User List

  form(action="users/search" method='GET' )
    .form-group.d-flex
      input.form-control(type="text" name="q" value=q placeholder='search by name...')
      button.btn.btn-primary.ml-2 Search

  form(action='users/create' , method='POST')
    label(for="name")  Name
    input#name.form-control.mb-2(type='text', name='name')
    label(for="phone") Phone
    input#phone.form-control.mb-2(type='text', name='phone')
    button.btn.btn-primary.mt-2 Create
    
  table.table.table-hover
    thead
      tr
        th Title
        th Phone
        th Actions
    tbody
      each user in users
        tr
          td #{user.name}
          td #{user.phone}
          td
            a(href='/users/' + user.id + '/update') 
              button.btn.btn-primary Update
            a(href='/users/' + user.id + '/delete') 
              button.btn.btn-danger Delete
              